form
    label.ch-price(itemprop="price" content="4799.99") $4799
        sup 99
    div.ch-form-row
        label(for="quant" itemprop="availability") Quantity
        select(name="quant")
            option(value="algo") 1
            option(value="algo2") 2
            option(value="algo3") 3
    div.ch-form-row
        label(for="paym") Payments
        select(name="paym")
            option(value="1") 1
            option(value="3") 3
            option(value="6") 6
            option(value="12") 12
    div.ch-form-actions
        input(type="submit" name="_eventId_confirmation" value="Buy" class="ch-btn")
    label.notice Mercadolibre isn't owner of this product