form
    label $4799
        sup 99
    select
        option(value="algo") algo
        option(value="algo2") algo2
        option(value="algo3") algo3
    select
        option(value="1") 1
        option(value="3") 3
        option(value="6") 6
        option(value="12") 12
    button(value="Buy") buy
    label Mercadolibre isn't owner of this product