div(class="myCarousel ch-carousel")
    ul(class="ch-carousel-list")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
        li(class="ch-carousel-item")
            img(src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png")
