@require "../node_modules/chico/dist/ui/chico.min.css"
@require "form/form.styl"
@require "more/more.styl"
@require "tabs/tabs.styl"

margin-ba(n)
  -webkit-margin-before n
  -webkit-margin-after n

margin-se(m)
  -webkit-margin-start m
  -webkit-margin-end m

h1
  display block
  font-size 2.3em
  margin-ba(0.67em)
  margin-se(0px)
  font-weight bold

.center
  text-align center

.container
  display flex
  justify-content center

section.product
  text-align left
  img
    max-width 270px
    float left