doctype html
html(lang="es")
    head
        title Hola
        link(rel = 'stylesheet', href = 'statics/css/app.css')
    body
        main(class="container" role="main")
            section(class="ch-box product" itemscope itemtype="http://schema.org/Product")
                h1(itemprop="name") Ipaul Mini Apple 16 GB Waifi Led 7.9
                div(class="image")
                    img(itemprop="image" src="http://static.mlstatic.com/org-img/ch/ui/1.0.0/static/ninja.png" alt="Ipaul Mini Apple 16 GB Waifi Led 7.9")
                div(class="form")
                    include ./form/form.jade
                div(class="more")
                    include ./more/more.jade
                div(class="tabs ch-tabs")
                    include ./tabs/tabs.jade



    script(type='text/javascript', src = 'statics/js/app.js')