doctype html
html(lang="es")
    head
        title Hola
        link(rel = 'stylesheet', href = 'statics/css/app.css')
        script(type='text/javascript', src = 'statics/js/app.js')
    body
        h1 Holaaa probando jade cliente
        #container.col
            p you are amazing
            p.
                Jade is a terse and simple
                templating languaje with a
                strong focus on performance
                and powerful features.