div.tabs
    div.tab
        input(type="radio" id="tab-1" name="tab-group-1")
        label(for="tab-1") Product description

    div.tab
        input(type="radio" id="tab-2" name="tab-group-1" checked)
        label(for="tab-2") Questions
        div.content
            h5.buyer Buyer
            div.ch-box-info
                p Do you have this one in while?
            h5.seller Seller
            div.ch-box-ok
                p Do you have this one in while?
